:root {
    --black: rgba(44, 62, 80, 1);
    --green: rgba(26, 188, 156, 1);
    --white: rgba(255, 255, 255, 1);
    --grey: rgba(58, 84, 109, 1);
    --dark-grey: rgba(44, 62, 80, 1);
}

/* ! COMMON */
body {
    background-color: var(--white);
    color: var(--black);
}

.my-bg-black{
    background-color: var(--black);
}

.bg-green{
    background-color: var(--green);
}

.bg-grey{
    background-color: var(--grey);
}

.bg-dark-grey{
    background-color: var(--dark-grey);
}

/* ! MAIN */
#hero {
    padding-top: 100px;
}

.avatar {
    width: 60%;
    max-width: 100%;
    
}

/* ! HEADER */
header {
    background-color: var(--black);
    position: fixed;
    height: 90px;
    top: 0;
    width: 100%;
    z-index: 999;
}

#cards{
    padding: 0;
}

#send-btn{
    background-color: var(--green);
}

.green{

    color: var(--green);;
}

.overlay::after{
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--green);
    color: var(--white);
    font-size: 80px;
    font-weight: 800;
    opacity: 0;
    transition: opacity 0.5s;
}

.overlay:hover::after{
    opacity: 0.65;
}